{% extends "base.html" %}
{% block title %} Editer un model {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Modifier les données d'un client
			</p>
			<form action="" method="POST" novalidate>
				<!-- Protection contre les attaques Cross-Site Request F orgery (CSRF) -->
				{{ form_update.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form_update.prenom_client.label }}<br>
						{{ form_update.prenom_client(size=32) }}<br>
						{% for error in form_update.prenom_client.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.nom_client.label }}<br>
						{{ form_update.nom_client(size=32) }}<br>
						{% for error in form_update.nom_client.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.date_naissance_client.label }}<br>
						{{ form_update.date_naissance_client(size=32) }}<br>
						{% for error in form_update.date_naissance_client.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.sexe_client.label }}<br>
						{{ form_update.sexe_client(size=32) }}<br>
						{% for error in form_update.sexe_client.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form_update.nationalite_client.label }}<br>
						{{ form_update.nationalite_client(size=32) }}<br>
						{% for error in form_update.nationalite_client.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
				</div>
				{{ form_update.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}

