<footer class="mt-auto py-2 fixed-bottom">
    <div class="container-fluid">
        <hr class="py-0 bg-light" />
        <div class="row d-flex align-items-end">
            <div class="col-md-6 text-nowrap">Voici un pied de page qui possède une date qui est mise à jour à l'aide d'un petit script en Javascript.(Pas comme le vieux truck de Maco qui avait trois mois de retard)</div>
            <div class="col-md-6 d-flex justify-content-end">
                <div id="currentDate" class="date-container small"></div>
            </div>
        </div>
    </div>
</footer>
